body {
    font-family: 'Averia Libre';
}

a {
    color: silver;
    text-decoration: none;
}

a:hover {
    color: silver;
    text-decoration: underline;
}

h1 {
    color: Green;
}

#logo {
    position: absolute;
    left: 100px;
    top: 50px;
}

#box {
    position: absolute;
    top: 150px;
    left: 630px;
    width: 500px;
}

#copy {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: silver;
    text-align: center;
}
